#=====================================================================#
# General                                                             #
#=====================================================================#
#  Min  |  Hour  |  Mday  |  Month  |  Wday  |  Command               #
#=====================================================================#
#    1       *        *        *         *        $HOME/cron/every-hour.sh > /dev/null 2>&1
#=====================================================================#
